* {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
}

/* ----Shared Style---- */
.btn-linear {
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}


/* ----Header---- */
header {
  background-color: #1A0B2E;
}

header nav {
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav .logo {
  width: 219px;
  height: 32px;
}

header nav .menu {
  display: flex;
  gap: 32px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 120;
}

header nav .bars {
  display: none;
}

.hr {
  border: 1px solid #1a0b2ec9;
}

/* ----Banner Section---- */
#banner-section {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 760px;
}

#banner-section .circle-img .circle {
  margin: 0 auto;
  position: relative;
}

#banner-section .circle-img .mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -77%);
}

#banner-section .circle-img span{
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00FF88;
  border-radius: 40px;
  position: absolute;
  top: 25%;
  left: 55%;
  box-shadow: 2px 2px 27px #00ff8883;
}

#banner-section .about {
  text-align: center;
}

#banner-section .about h1 {
  font-size: 60px;
  color: #FFFFFF;
  font-weight: 800;
  margin-bottom: 8px;
}

#banner-section .about p {
  font-size: 16px;
  color: #ffffffc3;
  margin-bottom: 24px;
}

#banner-section .about .btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #00FF88;
  background: transparent;
  color: #00FF88;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 8px;
}