* {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
}

/* ----Shared Style---- */
.btn-linear {
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}


/* ----Header---- */
header {
  background-color: #1A0B2E;
}

header nav {
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav .logo {
  width: 219px;
  height: 32px;
}

header nav .menu {
  display: flex;
  gap: 32px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 120;
}

header nav .bars {
  display: none;
}

.hr {
  border: 1px solid #1a0b2ec9;
}

/* ----Banner Section---- */
#banner-section {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 760px;
}

#banner-section .circle-img .circle {
  margin: 0 auto;
  position: relative;
}

#banner-section .circle-img .mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -77%);
}

#banner-section .circle-img span{
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00FF88;
  border-radius: 40px;
  position: absolute;
  top: 25%;
  left: 55%;
  box-shadow: 2px 2px 27px #00ff8883;
}

#banner-section .about {
  text-align: center;
}

#banner-section .about h1 {
  font-size: 60px;
  color: #FFFFFF;
  font-weight: 800;
  margin-bottom: 8px;
}

#banner-section .about p {
  font-size: 16px;
  color: #ffffffc3;
  margin-bottom: 24px;
}

#banner-section .about .btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #00FF88;
  background: transparent;
  color: #00FF88;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 8px;
}

/* ---- About Section ---- */
#about-section {
  background-color: #1A0B2E;
  /* color: #FFFFFF; */
  text-align: center;
}

#about-section .about-txt {
  padding: 50px 200px 80px;
  text-align: center;
}

#about-section .about-txt h1 {
  color: #FFFFFF;
  font-size: 48px;
  margin-bottom: 16px;
}

#about-section .about-txt p {
  color: #ffffff9f;
  font-size: 16px;
  line-height: 20px;
}

#about-section hr {
  margin: 0 200px;
  border: 1px solid #ffffff54;
}

#about-section .about-card {
  padding: 80px 200px 120px;
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

#about-section .about-card .card h2 {
  font-size: 48px;
  color: #00FF88;
  margin-bottom: 16px;
}

#about-section .about-card .card p {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff8f;
}

/* ---- Why Choose Section ---- */
#why-choose-section {
  background-color: #230E3D;
  color: #FFFFFF;
  padding: 120px 200px;
}

#why-choose-section h1 {
  text-align: center;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

#why-choose-section .grid-section {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#why-choose-section .grid-section img {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}

#why-choose-section .grid-section h3 {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

#why-choose-section .grid-section p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffffaa;
}

#why-choose-section .grid-section .long {
  display: grid;
  align-items: center;
  background-color: #351165;
  grid-column: span 1;
  grid-row: span 2;
  border-radius: 40px;
  padding: 107px 40px;
}

#why-choose-section .grid-section .wide {
  display: grid;
  align-items: center;
  background-color: #351165;
  grid-column: span 2;
  grid-row: span 1;
  padding: 40px;
  border-radius: 40px;
}

#why-choose-section .grid-section .normal {
  display: grid;
  align-items: center;
  background-color: #351165;
  padding: 40px;
  border-radius: 40px;
}


/* ---- Featured Episodes Section ---- */
#featured-episodes-section {
  background-color: #1A0B2E;
  color: #FFFFFF;
  padding: 120px 200px;
}

#featured-episodes-section h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

#featured-episodes-section .featured-episode {
  display: flex;
  gap: 30px;
  /* flex-wrap: wrap; */
}

#featured-episodes-section .featured-episode .card {
  width: 380px;
  height: 440px;
  background-color: #250D44;
  border-radius: 30px;
}

#featured-episodes-section .featured-episode .card .video iframe {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#featured-episodes-section .featured-episode .card h3 {
  font-size: 24px;
  color: #FFFFFF;
  padding: 24px 24px 12px 24px;
}

#featured-episodes-section .featured-episode .card p {
  font-size: 16px;
  color: #ffffffb4;
  padding: 0 24px 20px 24px;
}


#featured-episodes-section .meet-the-hots {
  margin-top: 120px;
}

#featured-episodes-section .meet-the-hots h1 {
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.meet-the-hots .alex-kumar {
  display: flex;
  background-color: #351165;
  border-radius: 40px;
}

.meet-the-hots .alex-kumar img {
  padding: 40px 24px 40px 40px;
}

.meet-the-hots .alex-kumar .alex-txt {
  padding: 48px 40px 48px 0;
  display: grid;
  align-items: center;
  /* gap: 16px; */
}

.meet-the-hots .alex-kumar .alex-txt h2 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 16px;
}

.meet-the-hots .alex-kumar .alex-txt p {
  font-size: 16px;
  color: #ffffff96;
  line-height: 24px;
}


.meet-the-hots .alex-kumar .alex-txt .alex-logo {
  display: flex;
  gap: 8px;
}

.meet-the-hots .alex-kumar .alex-txt .alex-logo .logo-round {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(106, 61, 61);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.meet-the-hots .alex-kumar .alex-txt .alex-logo .logo-round a i {
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg,
          rgba(247, 233, 63, 1),
          rgba(251, 9, 180, 1),
          rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}


/* ----- Footer Section ----- */
.footer-section {
  background: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 412px;
  text-align: center;
  /* display: grid; */
}

.footer-section .logo {
  width: 412px;
  height: 60px;
  margin-top: 120px;
}

.footer-section .podcast-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 40px 0;
}

.footer-section .podcast-logo p {
  font-size: 16px;
  color: #ffffff94;
  text-align: center;
}

.footer-section p {
  font-size: 16px;
  color: #ffffffa2;
}