* {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
}

/* ----Shared Style---- */
.btn-linear {
  padding: 14px 20px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(
    35deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}


/* ----Header---- */
header {
  background-color: #1A0B2E;
}

header nav {
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav .logo {
  width: 219px;
  height: 32px;
}

header nav .menu {
  display: flex;
  gap: 32px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 120;
}

header nav .bars {
  display: none;
}